<!DOCTYPE html>
<html lang="en">
<head>
<title>insta485</title>
</head>
<body>
<p>
  <span style="float: right"><a href="/explore">explore</a>
   <a href="/u/awdeorio/">awdeorio</a> </span>
  <span style="float: left"><a href="/">home</a></span>
</p>
<br>
<div style="background-color:red;color:white;padding:100px;border: 1px solid black">
  <h2><span style="float: left"><a href="/u/awdeorio/">awdeorio</a> </span></span><span style="float: right"><a href="/p/3/">10 minutes ago</a></span></h2>
  <br>
  <img src="/uploads/505083b8b56c97429a728b68f31b0b2a089e5113.jpg" alt="alternatetext">
  <br>
  <p> 1 like <p>
  <br>
  <p> <a href="/u/jflinn/">jflinn</a> this is a good post! </p>
</div>
<div style="background-color:red;color:white;padding:100px;border: 1px solid black">
  <h2><span style="float: left"><a href="/u/jflinn/">jflinn</a></span><span style="float: right"><a href="/p/2/">4 hours ago</a></span></h2>
  <br>
  <img src="/uploads/e1a7c5c32973862ee15173b0259e3efdb6a391af.jpg" alt="alternatetext">
  <br>

  <p> 2 likes <p>
    <br>
    <p> <a href="/u/awdeorio/">awdeorio</a> #chickensofinstagram </p>
</div>
<div style="background-color:red;color:white;padding:100px;border: 1px solid black">
  <h2><span style="float: left"><a href="/u/awdeorio/">awdeorio</a></span><span style="float: right"><a href="/p/1/">a day ago</a></span></h2>
  <br>
  <img src="/uploads/9887e06812ef434d291e4936417d125cd594b38a.jpg" alt="alternatetext">
  <br>
  <p> 3 likes <p>
  <br>
  <p> <a href="/u/jflinn/">jflinn</a> I <3 chickens </p>
</div>
<img src="/uploads/ad7790405c539894d25ab8dcf0b79eed3341e109.jpg" alt="alternatetext">
<img src="/uploads/122a7d27ca1d7420a1072f695d9290fad4501a41.jpg" alt="alternatetext">
<img src="/uploads/ad7790405c539894d25ab8dcf0b79eed3341e109.jpg" alt="alternatetext">
<img src="/uploads/ad7790405c539894d25ab8dcf0b79eed3341e109.jpg" alt="alternatetext">
<img src="/uploads/ad7790405c539894d25ab8dcf0b79eed3341e109.jpg" alt="alternatetext">
<p> <a href="/u/michjc/">michjc</a> Cute overload! </p>
<p>awdeorio Sick #crossword</p>
<p>jflinn Walking the plank #chickensofinstagram</p>
<p>awdeorio This was after trying to teach them to do a #crossword</p>
</body>
</html>
